<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings._QRСабирзянов_Ист_211_2_1ConnectionString"
            connectionString="Data Source=2008-01-sql;Initial Catalog=&quot;_QRСабирзянов Ист 211.2.1&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.КассаConnectionString"
            connectionString="Data Source=DESKTOP-GIECR1I\SQLEX;Initial Catalog=Касса;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>